.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    cursor: pointer;
    background-color: sandybrown;
    
}
#gameContainer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(157, 121, 96);
}

   #cellContainer{
    font-family:'Permanent Maker' ;
    font-size: x-large;
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}

#restartButton{
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace'
}

